absl-py==2.0.0
alembic==1.13.0
aniso8601==9.0.1
apispec==6.4.0
apispec-webframeworks==0.5.2
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
attrs==23.1.0
Automat==22.10.0
beautifulsoup4==4.12.2
bidict==0.22.1
binaryornot==0.4.4
blinker==1.7.0
boto3==1.34.34
botocore==1.34.125
bs4==0.0.1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
constantly==23.10.4
contourpy==1.2.0
cookiecutter==2.1.1
customtkinter==0.3
cycler==0.12.1
darkdetect==0.8.0
dask==2023.12.0
decorator==5.1.1
deepdiff==6.2.3
distlib==0.3.7
distributed==2023.12.0
dnspython==2.4.2
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==2.0.1
filelock==3.12.3
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Login==0.6.3
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.45.1
forex-python==1.8
fsspec==2023.12.1
gast==0.5.4
gevent==23.9.1
gevent-websocket==0.10.1
gitignore_parser==0.1.9
google-auth==2.25.2
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
greenlet==3.0.2
grpcio==1.60.0
h11==0.14.0
h5py==3.10.0
hyperlink==21.0.0
idna==3.6
importlib-metadata==7.0.0
incremental==22.10.0
ipython==8.17.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
keras==2.15.0
kiwisolver==1.4.5
kthread==0.2.3
libclang==16.0.6
locket==1.0.0
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-sqlalchemy==0.28.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
modin==0.25.1
mpmath==1.3.0
msgpack==1.0.7
networkx==2.8.8
numpy==1.26.2
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.10
outcome==1.2.0
packaging==23.2
pandas==2.1.4
parso==0.8.3
partd==1.4.1
passlib==1.7.4
Pillow==10.1.0
pipenv==2023.9.8
platformdirs==3.10.0
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pygame==2.5.2
Pygments==2.17.2
pymongo==4.6.1
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-slugify==8.0.1
python-socketio==5.10.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.1
rsa==4.9
s3transfer==0.10.1
selenium==4.9.1
simple-websocket==0.10.1
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.23
stack-data==0.6.3
sympy==1.12
taipy==3.1.1
taipy-config==3.1.1
taipy-core==3.1.1
taipy-gui==3.1.2
taipy-rest==3.1.1
taipy-templates==3.1.1
tblib==3.0.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
text-unidecode==1.3
toml==0.10.2
toolz==0.12.0
torch==2.1.1
tornado==6.4
traitlets==5.13.0
trio==0.22.0
trio-websocket==0.10.2
Twisted==23.10.0
twisted-iocpsupport==1.0.4
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.1.0
virtualenv==20.24.5
wcwidth==0.2.12
Werkzeug==3.0.1
wrapt==1.14.1
wsproto==1.2.0
zict==3.0.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
